body{
    background-color: #ECF3FD;
}

.container{
    width: 450px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 16px;
    background-image: url(../imgs/auth.png);
    background-repeat: no-repeat;
}

.ui-state-default .icon-login{
    background-image: url(../imgs/icons/login.png);
}

.ui-state-default .icon-naissance{
	background-image: url(../imgs/icons/naissance.png);
}
.wlc{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-transform: uppercase;
    font-size: 25px;
    color: #045491;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bolder;
}

